.hero
    padding-bottom: 0
    .hero-text
        @include media-breakpoint-up(desktop)
            width: columns(12)
    &--with-image
        border-bottom: $header-border-bottom-width solid $color-border  
        height: 100vh
        overflow: hidden
        position: relative
        .content
            figure
                bottom: 0
                height: 100%
                left: 0
                margin: 0
                position: absolute
                right: 0
                top: 0
                width: 100%
                z-index: 0
                img
                    height: 100%
                    object-fit: cover
                    position: absolute
                figcaption
                    background: none
                    bottom: 0
                    position: absolute
                    &::before
                        background: transparent
                    .credit
                        display: block
                        background: none
            .hero-text
                mix-blend-mode: luminosity
                position: relative
                transform: rotate(-5deg)
                z-index: 1
                h1
                    background-color: white
                    border: 3px solid $color-border
                    padding: 5px

header#document-header
    border-bottom: $header-border-bottom-width solid $color-border
    border-top: $header-border-bottom-width solid $color-border
    transform: rotate(-1deg)

.dropdown-languages
    border: $header-border-bottom-width solid $color-border 

footer#document-footer
    border-top: $header-border-bottom-width solid $color-border 
    display: flex
    justify-content: space-between
    @include media-breakpoint-down(md)
        flex-wrap: wrap
    @include media-breakpoint-up(md)
        justify-content: space-evenly
    .container
        margin-left: 0
        margin-right: 0
        margin-top: 0
        padding-top: 0
        width: fit-content
        + .container
            align-items: flex-start
            margin-top: 0
            padding-top: 0
            width: fit-content
            + .container
                flex-direction: column
    .footer-social
        align-self: flex-end
        order: 1
    .footer-legals
        align-self: flex-end
        order: 2